@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap&subset=cyrillic');
$font-body: 'PT Sans', sans-serif;

body {
  display: flex;
  justify-content: center;
  background: url("../img/background.png"), repeat;
  font-family: $font-body;
}

body:before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(228, 208, 170, 0.55), rgba(0, 0, 0, 0));
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  display: flex;
  width: auto;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  position: relative;
  background-color: #fff;
  margin: 17px;
}

.card:hover .card__image:before {
  content: "";
  background: url("../img/best_price.png") no-repeat;
  margin: 5px;
  padding: 5px;
  position: absolute;
  height: 50px;
  width: 50px;
}

.card:hover .card__content {
  border: solid #fff;
  border-top: none;
}

.card__content {
  padding: 0 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  border: solid #d0bfa17d;
  border-top: none;
}

.card__text {
  display: flex;
  align-items: flex-start;
  margin-bottom: 18px;
  flex: 1;
  line-height: 22px;
}

.order__price span {
  color: #775b25;
  font-size: 26px;
  font-family: 'Noto Serif', serif;
}

.order__price {
  font-size: 19px;
  margin-top: 10px;
  font-family: 'Noto Serif', serif;
}

.button {
  width: 110px;
  background-color: #775b25;
  padding: 15px 60px;
  color: #fff;
  margin: 20px 0 30px;
  border: none;
  font-size: 17px;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
}

.order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button:hover {
  background-color: #9e8555;
  text-align: center;
  cursor: pointer;
}

.h1 {
  color: #70563d;
  width: 100%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Noto Serif', serif;
  z-index: 1;
  font-size: 42px;
  margin-bottom: 50px;
}

.card__title {
  color: #70563d;
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-family: 'Noto Serif', serif;
  margin-bottom: 15px;
  font-weight: normal;
  flex-grow: 1;
}

.picture .img {
  width: 100%
}

.hr {
  width: 100%;
  margin: 10px 0;
}

.-grayscale {
  filter: grayscale(1);
}

.-hide {
  display: none;
}

@media (max-width: 425px) {
  .h1 {
    font-size: 32px;
  }
  .card__title {
    font-size: 23px;
  }
  .card {
    margin: 17px 10px;
  }
}