@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap&subset=cyrillic');

body {
    display: flex;
    justify-content: center;
    background: url("../img/background.png"), repeat;
    font-family: 'PT Sans', sans-serif;
}

body:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(228, 208, 170, 0.55), rgba(0, 0, 0, 0));
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.room_box {
    display: flex;
    width: auto;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.room_card {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    position: relative;
    background-color: #fff;
    margin: 17px;

}

.room_card:hover .room-card-photo:before {
    content: "";
    background: url("../img/best_price.png") no-repeat;
    margin: 5px;
    padding: 5px;
    position: absolute;
    height: 50px;
    width: 50px;
}

.room_card:hover .room-card-content {
    border: solid #fff;
    border-top: none;
}

.room-card-content {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    border: solid #d0bfa17d;
    border-top: none;
}

.text {
    margin-bottom: 18px;
}

.room-price span {
    color: #775b25;
    font-size: calc((20 / 672) * (26vw - 1440px) + 60px);
    font-family: 'Noto Serif', serif;
}

.room-price {
    font-size: calc((20 / 672) * (5vw - 1440px) + 60px);
    margin-top: 10px;
    font-family: 'Noto Serif', serif;
}

.room_order_btn {
    background-color: #775b25;
    padding: 15px 60px;
    color: #fff;
    margin: 20px 0;
    border: none;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
}

.room_order_btn:hover {
    background-color: #9e8555;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.h1 {
    color: #70563d;
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Noto Serif', serif;
    z-index: 1;
    font-size: calc((20 / 672) * (62vw - 1440px) + 60px);
    margin-bottom: 50px;
}

.h2 {
    color: #70563d;
    display: flex;
    justify-content: center;
    font-size: calc((20 / 672) * (26vw - 1440px) + 60px);
    font-family: 'Noto Serif', serif;
    margin-bottom: 15px;
    font-weight: normal;
}

.hr {
    width: 100%;
    margin: 10px;
}

.img {
    max-width: 100%;
    height: auto;
    display: block;
}

.grayscale {
    filter: grayscale(100%);
}

@media (max-width: 320px) {
    h1 {
        font-size: 199%;
    }

    .room_order_btn {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
        justify-content: flex-start;
    }
}
